<section class="space">
    <div class="container">
        <h2 class="page-title h3 mb-20" style="text-align: center; padding-bottom: 20px;">
            ¿QUE HACER EN CASO DE UN SINIESTRO SALUD?
        </h2>
        <div class="row">
            <div class="col-xxl-4 col-lg-5">
                <aside class="sidebar-area">
                    <div class="page-img">
                        <img src="assets/segurosya/img/service/salud.jpg" alt="Project Image">
                    </div>
                    <div class="widget widget_nav_menu">
                        <h3 class="widget_title"></h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a >PACIFICO SEGUROS</a>
                                <p>Pacífico Asiste 415-1515 <span> (Lima)</span></p>
                                <p>Pacífico Asiste 0800-4-1515 <span> (Provincias)</span></p>
                                <span></span></li>
                                <li><a>RIMAC SEGUROS</a>
                                    <p>Aló Rimac 411-1111  <span> (Lima)</span></p>
                                    <p> Aló Rimac 0800-4-1111  <span> (Provincias)</span></p>
                                </li>
                                <li><a>POSITIVA SEGUROS</a>
                                        <p>Línea Positiva 211-0211  <span> (Lima)</span></p>
                                        <p>Línea Positiva 0800-1-0800  <span> (Provincias)</span></p>
                                </li>
                                <li><a>MAPFRE</a>
                                            <p>Línea Emergencia 213-3333  <span> (Lima)</span></p>
                                            <p>Línea Emergencia 0800-1-0800  <span> (Provincias)</span></p>
                                </li>
                                <li><a>HDI SEGUROS</a>
                                                <p>Alo HDI 230-3030 </p>
                                </li>
                            </ul>
                        </div>
                    </div>           
                </aside>
            </div>
            <div class="col-xxl-8 col-lg-7">
                <div class="page-single mt-30">
                    <div class="page-content">
                        
                        <h3>SALUD</h3>
                        <h4>Aviso de accidente o enfermedad.</h4>
                        <p>
                            Aviso de accidente o enfermedad.
                            
                            El asegurado deberá informar a VillarBrokers y a sus aseguradores, inmediatamente ocurrido el accidente o detectada la enfermedad que pueda dar lugar a una indemnización bajo las condiciones de su póliza. La omisión o el retardo sólo son excusables si medió fuerza mayor, caso fortuito o imposibilidad de hecho sin culpa o inegligencia.
                            
                            Se deja expresa constancia que lo consignado en la presente cláusula en ningún caso limita el derecho del Asegurado de acudir a cualquier instancia judicial o administrativa, si así lo considerara conveniente.</p>
                            <strong>1. Beneficios Oncologicos.</strong>
                            <p>El afiliado podrá hacer uso de los beneficios de los programas Oncológicos, teniendo cuidado de cumplir con los requisitos y procedimientos que a continuación se detallan:</p>
                            <ul><strong> Requisitos:</strong>
                                <li>Diagnostico anátomo patológico del Cáncer, extendido por un profesional médico.</li>
                                <li>Remitir la documentación que sustente dicho diagnóstico: exámenes, análisis, radiografías, etc.</li>
                                <li>Figurar en la relación actualizada de afiliados y estar al día en sus pagos.</li>
                            </ul>
                            <strong>2. Procedimiento.</strong>
                            <ul>
                                <li>Antes de realizar cualquier gestión médica, deberá solicitar una cita o apersonarse a Oncosalud S.A.C., con su diagnóstico anátomo patológico positivo.</li>
                                <li>El departamento médico de Oncosalud S.A.C., extenderá al paciente una solicitud de beneficios, refiriéndolo al especialista o clínica más adecuada para su caso. El paciente no debe efectuar pago alguno, ya que Oncosalud S.A.C., no reconoce reembolsos.
                                </li>
                                <li>En caso de prescribirse medicinas, el paciente debe acudir a Oncosalud S.A.C., con la receta del médico tratante para recabarlas.
                                </li>
                                <li>    En caso de prescribirse medicinas, el paciente debe acudir a Oncosalud S.A.C., con la receta del médico tratante para recabarlas.
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
       