
<div class="feature-area-2 overflow-hidden">
  <div class="position-relative">
      <div class="img-half img-left feature-thumb-2"><img src="assets/segurosya/img/normal/wcu-thumb-3.png" alt="img">
          <div class="shape-mockup jump z-index-3 d-sm-block d-none" data-right="0" data-bottom="0"><img
                  src="assets/segurosya/img/normal/wcu-thumb-3-2.png" alt="img"></div>
      </div>
      <div class="container">
          <div class="row justify-content-lg-end">
              <div class="col-xl-5 col-lg-6">
                  <div class="title-area space-bottom mb-0 ms-xl-0 ms-lg-4 ms-0 text-center text-lg-start">
                      <span class="sub-title">Conócenos</span>
                      <h2 class="sec-title">Asesoría que te asegura éxito.</h2>
                      <p class="mt-30 mb-40">En Seguros Ya, somos un equipo de profesionales dedicados y apasionados por el mundo de los seguros. Nuestra empresa se caracteriza por su integridad, compromiso con el servicio, y búsqueda constante de la excelencia. Contamos con una amplia experiencia en el mercado asegurador y ofrecemos una asesoría personalizada para nuestros clientes.</p>
                      <div class="feature-circle-wrap">
                          <div class="feature-circle">
                              <div class="progressbar">
                                  <div class="circle" data-percent="95">
                                      <div class="circle-num">95%</div>
                                  </div>
                                  <div class="feature-circle_content">
                                      <h5 class="feature-circle_title">Tasas de Éxito en Reclamaciones</h5>
                                      <p class="feature-circle_text">Proporcionamos asesoría técnica y defensa en caso de siniestros, asegurando que nuestros clientes obtengan el mejor resultado posible.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="feature-circle">
                              <div class="progressbar">
                                  <div class="circle" data-percent="90">
                                      <div class="circle-num">100%</div>
                                  </div>
                                  <div class="feature-circle_content">
                                      <h5 class="feature-circle_title">Clientes Satisfechos</h5>
                                      <p class="feature-circle_text">Nuestra dedicación y profesionalismo nos permiten alcanzar altos niveles de satisfacción entre nuestros clientes.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<section class="service-sec7">
  <div class="container">
      <div class="row gy-4 justify-content-center service-wrap">
          <div class="col-xl-3 col-lg-4 col-md-6 service-box-wrap">
              <div class="service-box style2">
                  <div class="service-box_inner"><img src="assets/segurosya/img/shape/service-box-shape2.png" alt="img">
                  </div>
                  <div class="service-box_icon"><img src="assets/segurosya/img/icon/service_icon_5_1.svg" alt="Icono"></div>
                  <h3 class="service-box_title h4"><a href="#">Empresa de Confianza</a></h3>
                  <p class="service-box_text">La confianza administra la póliza y paga las primas.</p>
              </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 service-box-wrap">
              <div class="service-box style2">
                  <div class="service-box_inner"><img src="assets/segurosya/img/shape/service-box-shape2.png" alt="img">
                  </div>
                  <div class="service-box_icon"><img src="assets/segurosya/img/icon/service_icon_5_2.svg" alt="Icono"></div>
                  <h3 class="service-box_title h4"><a href="#">Protege tu Dinero</a></h3>
                  <p class="service-box_text">Es importante comparar las tasas de seguro para obtener la mejor
                      oferta.</p>
              </div>
          </div>
         <!--  <div class="col-xl-3 col-lg-4 col-md-6 service-box-wrap">
              <div class="service-box style2">
                  <div class="service-box_inner"><img src="assets/segurosya/img/shape/service-box-shape2.png" alt="img">
                  </div>
                  <div class="service-box_icon"><img src="assets/segurosya/img/icon/service_icon_5_3.svg" alt="Icono"></div>
                  <h3 class="service-box_title h4"><a href="#">Obtén una Cotización Gratuita</a></h3>
                  <p class="service-box_text">El seguro es un contrato dentro de una empresa individual.</p>
              </div>
          </div> -->
          <div class="col-xl-3 col-lg-4 col-md-6 service-box-wrap">
              <div class="service-box style2">
                  <div class="service-box_inner"><img src="assets/segurosya/img/shape/service-box-shape2.png" alt="img">
                  </div>
                  <div class="service-box_icon"><img src="assets/segurosya/img/icon/service_icon_5_4.svg" alt="Icono"></div>
                  <h3 class="service-box_title h4"><a href="#">Soporte Rápido 24/7</a></h3>
                  <p class="service-box_text">Ofrece cobertura para pérdidas comerciales o lesiones causadas.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="service-sec5 bg-title space-bottom" data-bg-src="assets/segurosya/img/bg/service-bg-5.png">
  <div class="position-relative space-top">
      <div class="service-sec5-img img-half img-right z-index-step1">
          <img src="assets/segurosya/img/bg/service-5-left.png" alt="img">
      </div>
      <div class="container">
          <div class="row">
              <div class="col-xl-6">
                  <div class="title-area text-xl-start text-center">
                      <span class="sub-title style3">Nuestros Seguros</span>
                      <h2 class="sec-title text-white">Seguros Populares</h2>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-xl-8 position-relative">
                <div class="row g-0 service-wrap-5">
                    <div class="col-md-6 service-grid style3">
                      <div class="icon"><img src="assets/segurosya/img/icon/service_icon_4_1.svg" alt="Icon"></div>
                      <div class="service-grid_content">
                          <h3 class="service-grid_title h4"><a>Misión</a>
                          </h3>
                          <p class="service-grid_text">Brindar el mejor servicio de corretaje de seguros en Lima, Perú, abarcando todos los sectores económicos. Nos comprometemos a ofrecer asesoría adecuada y oportuna, respaldados por un equipo humano experimentado y competente. Nuestro objetivo es satisfacer las necesidades y exigencias de nuestros clientes, asegurando su tranquilidad y protección.</p>
                        
                      </div>
                  </div>
                  <div class="col-md-6 service-grid style3">
                      <div class="icon"><img src="assets/segurosya/img/icon/service_icon_4_2.svg" alt="Icon"></div>
                      <div class="service-grid_content">
                          <h3 class="service-grid_title h4"><a>Visión</a>
                          </h3>
                          <p class="service-grid_text">Ser reconocidos como líderes en la satisfacción de las necesidades de nuestros clientes en el ámbito de los seguros, destacándonos por nuestra integridad, compromiso, y excelencia en el servicio. Aspiramos a ser la primera opción de nuestros clientes en Lima y en todo Perú, consolidándonos como un referente en el sector asegurador.</p>
                      </div>
                  </div>
                </div>
                <div class="service-counter">
                    <h3 class="service-counter_title"><span class="counter-number"
                            data-bg-src="assets/segurosya/img/icon/service_icon_4_5.svg">156</span>k</h3>
                    <h6 class="service-counter_text">Clientes<br>Satisfechos</h6>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>

<!-- <section class="cta-sec6 space text-center text-lg-start overflow-hidden" data-bg-src="assets/segurosya/img/bg/cta_bg_5.png"
  data-overlay="black" data-opacity="8">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-lg-6">
              <div class="title-area mb-0"><span class="sub-title style3">Get to know Us</span>
                  <h2 class="sec-title style2 text-white">Insurance for your loved ones and belongings.</h2>
              </div>
          </div>
          <div class="col-lg-auto mt-5 mt-lg-0 align-self-center">
              <div class="cta-contact-wrap text-center">
                  <h6 class="subtitle">Emergency Call Us</h6>
                  <h3 class="title"><a href="tel:+01145656868">+011 (456) 568 68</a></h3><a href="contact.html"
                      class="th-btn">Request a quote<i class="far fa-arrow-right"></i></a>
              </div>
          </div>
      </div>
  </div>
  <div class="shape-mockup d-none d-xl-block" data-right="0" data-bottom="0"><img
          src="assets/segurosya/img/shape/cta-6-shape.png" alt="img"></div>
</section> -->
<div class="wcu-area-2 overflow-hidden space">
  <div class="shape-mockup jump-reverse d-none d-xl-block" data-top="-10%" data-right="0">
    <img src="assets/segurosya/img/bg/wcu-bg-shape3-1.png" alt="shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-7">
        <div class="me-xxl-5 pe-xxl-4">
          <div class="wcu-thumb">
            <div class="shape-mockup spin d-none d-xl-block" data-bottom="-27px" data-left="-153px">
              <img src="assets/segurosya/img/bg/wcu-bg-shape3-2.png" alt="shape">
            </div>
            <div class="img1">
              <img src="assets/segurosya/img/normal/about_3-4.png" alt="About">
            </div>
            <div class="img2">
              <img src="assets/segurosya/img/normal/about_3-5.png" alt="About">
            </div>
            <div class="wcu-counter-wrap">
              <div class="icon">
                <img src="assets/segurosya/img/icon/wcu-icon-3-1.svg" alt="img">
              </div>
              <h6 class="wcu-wrap_title">Confiado por más de <span class="counter-number">5689</span>+ Clientes</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="title-area mb-50">
          <h2 class="sec-title style2" >¿Por qué elegirnos?</h2>
          <p class="mt-20 mb-30">En Seguros Ya, nos destacamos por nuestra metodología de trabajo basada en valores sólidos y ética profesional. Aquí te presentamos algunas razones para elegirnos:</p>
          <div class="checklist mb-n1">
            <ul>
              <li><i class="fa fa-check-circle"></i> Metodología de trabajo en equipo, valores y ética profesional.</li>
              <li><i class="fa fa-check-circle"></i> Equipo humano comprometido, dedicado e íntegro con amplia experiencia en el mercado asegurador.</li>
              <li><i class="fa fa-check-circle"></i> Servicio de asesoría totalmente personalizado y sin costo adicional.</li>
              <li><i class="fa fa-check-circle"></i> Constante actualización en seguros, tecnología y normativas legales para ofrecerte siempre la mejor asesoría.</li>
              <li><i class="fa fa-check-circle"></i> Manejo de siniestros a nivel gerencial para garantizarte una atención A1 en todo momento.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
