<div class="th-menu-wrapper" style="background-color: white;"><div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
    <div class="mobile-logo"><a href=""><img src="assets/segurosya/img/logoWhite.png" alt="segurosya"></a></div>
    <div class="th-mobile-menu">
        <ul>
         <li (click)="global.setRoute('home')" style="cursor: pointer;"><a >Inicio</a></li>
         <li (click)="global.setRoute('about')" style="cursor: pointer;"><a >Nosotros</a></li>

                                       <!-- <li class="menu-item-has-children"><a (click)="global.setRoute('about')" >Nosotros</a>
                                             <ul class="sub-menu">
                                                <li><a (click)="global.setRoute('aboutMision')" style="cursor: pointer;">Mision</a></li>
                                                <li><a (click)="global.setRoute('aboutVision')" style="cursor: pointer;">Vision</a></li>
                                                <li><a (click)="global.setRoute('about')" style="cursor: pointer;">Quienes somos</a></li>
                                                <li><a (click)="global.setRoute('aboutWhat')" style="cursor: pointer;">Por que elegirnos</a></li>
                                            </ul>
                                        </li> -->
                                        <li class="menu-item-has-children"><a >Seguros</a>
                                            <ul class="sub-menu">
                                                <li><a (click)="global.setRoute('segurosDetail')" style="cursor: pointer;">SCTR SALUd</a></li>
                                                <li><a href="">SCTR PENSION</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a (click)="global.setRoute('procedure')" style="cursor: pointer;">Siniestros</a>
                                            <!-- <ul class="sub-menu">
                                                <li><a href="https://wa.me/573028441845" target="_blank">Contacto</a></li>
                                                <li><a (click)="global.setRoute('procedure')" style="cursor: pointer;">Procedimientos</a></li>
                                                <li><a href="">Telefono de emergencia</a></li>
                                            </ul> -->
                                        </li>
                                        <li class="menu-item-has-children"><a >Servicios</a>
                                            <ul class="sub-menu">
                                                <li><a (click)="global.setRoute('servicesdetail')" style="cursor: pointer;">TALLERES AFILIADOS</a></li>
                                                <li><a href="">ASESORIAS EN SINIESTROS</a></li>
                                                <li><a>COBRO DE INDEMNIZACIONES</a></li>
                                                <li><a>RECHAZOS ANTE INDECOPI</a></li>
                                                <li><a>CAPACITACION A EMPRESAS</a></li>
                                            </ul>
                                        </li>
                                        <li ><a (click)="global.setRoute('promotions')" style="cursor: pointer;">Promociones</a>
                                           
                                        </li>
                                        <li><a (click)="global.setRoute('contact')" style="cursor: pointer;">Contacto</a></li>
        </ul>
    </div>
    </div>
</div>
<header class="th-header header-layout6">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-center justify-content-md-between align-items-center gy-2">
                <div class="col-auto d-none d-md-block">
                    <div class="header-links">
                        <ul>
                            <li><i class="far fa-phone"></i><a href="tel:+51 982 202 840">+51 982 202 840</a></li>
                            <li class="d-none d-xl-inline-block"><i class="far fa-location-dot"></i>27 Lima, Perú</li>
                            <li><i class="far fa-envelope"></i><a href="mailto:correo">correo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-links">
                        <ul>
                           <!--  <li class="d-none d-lg-inline-block">
                                <div class="dropdown-link">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">Language</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                        <li><a href="#">German</a> <a href="#">French</a> <a href="#">Italian</a> <a href="#">Latvian</a> <a href="#">Spanish</a> <a href="#">Greek</a></li>
                                    </ul>
                                </div>
                            </li> -->
                            <li>
                                <div class="header-social"><span class="social-title">Redes sociales:</span> 
                                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> 
                                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> 
                                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> 
                                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper">
        <div class="sticky-active">
            <div class="menu-area" data-bg-src="assets/segurosya/img/update1/bg/pattern_bg_2.png">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="">
                                <img src="assets/segurosya/img/logo.png" alt="segurosya"></a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <nav class="main-menu d-none d-lg-inline-block">
                                    <ul>
                                        <li (click)="global.setRoute('home')" style="cursor: pointer;"><a >Inicio</a></li>
                                        <li (click)="global.setRoute('about')" style="cursor: pointer;"><a >Quienes somos</a></li>

                                       <!--  <li class="menu-item-has-children"><a >Nosotros</a>
                                            <ul class="sub-menu">
                                                <li><a (click)="global.setRoute('aboutMision')" style="cursor: pointer;">Mision</a></li>
                                                <li><a (click)="global.setRoute('aboutVision')" style="cursor: pointer;">Vision</a></li>
                                                <li><a (click)="global.setRoute('about')" style="cursor: pointer;">Quienes somos</a></li>
                                                <li><a (click)="global.setRoute('aboutWhat')" style="cursor: pointer;">Por que elegirnos</a></li>
                                            </ul>
                                        </li> -->
                                        <li class="menu-item-has-children"><a >Seguros</a>
                                            <ul class="sub-menu">
                                                <li><a (click)="global.setRoute('segurosDetail')" style="cursor: pointer;">SCTR SALUd</a></li>
                                                <li><a href="">SCTR PENSION</a></li>
                                            </ul>
                                        </li>
                                        <li><a (click)="global.setRoute('procedure')" style="cursor: pointer;">Siniestros</a>
                                            <!-- <ul class="sub-menu">
                                                <li><a href="https://wa.me/573028441845" target="_blank">Contacto</a></li>
                                                <li><a (click)="global.setRoute('procedure')" style="cursor: pointer;">Procedimientos</a></li>
                                                <li><a href="">Telefono de emergencia</a></li>
                                            </ul> -->
                                        </li>
                                        <li class="menu-item-has-children"><a (click)="global.setRoute('service')" style="cursor: pointer;">Servicios</a>
                                            <ul class="sub-menu">
                                                <li><a (click)="global.setRoute('servicesdetail')" style="cursor: pointer;">TALLERES AFILIADOS</a></li>
                                                <li><a href="">ASESORIAS EN SINIESTROS</a></li>
                                                <li><a>COBRO DE INDEMNIZACIONES</a></li>
                                                <li><a>RECHAZOS ANTE INDECOPI</a></li>
                                                <li><a>CAPACITACION A EMPRESAS</a></li>
                                            </ul>
                                        </li>
                                        <li ><a (click)="global.setRoute('promotions')" style="cursor: pointer;">Promociones</a>
                                           
                                        </li>
                                        <li><a (click)="global.setRoute('contact')" style="cursor: pointer;">Contacto</a></li>
                                    </ul></nav>
                                        <button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                                </div>
                                <div class="col-auto d-none d-xl-block">
                                    <div class="header-button">
                                        <!-- <button type="button" class="simple-icon me-3 searchBoxToggler"><i class="far fa-search"></i></button>  -->
                                        <a href="https://wa.me/573028441845" target="_blank" class="th-btn style2">Cotizar<i class="fas fa-arrow-right ms-2"></i></a> 
<!--                                         <a href="#" class="simple-icon style2 ms-3 sideMenuToggler"><i class="fa-sharp fa-solid fa-grid"></i></a>
 -->                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="logo-shape"></div>
                </div>
        </div>
    </div>
</header>