<div class="th-hero-wrapper hero-6" id="hero">
    <div class="hero-slider-6 th-carousel" id="heroSlide6" data-slide-show="1" data-md-slide-show="1" data-fade="true">
        <div class="th-hero-slide">
            <div class="th-hero-bg"></div>
            <div class="hero-shape hero-6-shape1 jump"><img src="assets/segurosya/img/hero/home1-shape1.png" alt="img">
            </div>
            <div class="hero-shape hero-6-shape2 jump-reverse"><img src="assets/segurosya/img/hero/home1-shape2.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape3"><img class="spin" src="assets/segurosya/img/hero/home1-shape3.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape4"><img class="spin" src="assets/segurosya/img/hero/home1-shape4.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape5"><img class="spin" src="assets/segurosya/img/hero/home1-shape5.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape6 jump-reverse"></div>
            <div class="hero-shape hero-6-shape7 jump"></div>
            <div class="hero-shape hero-6-shape8 jump-reverse"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="hero-style6">
                            <span class="hero-subtitle" data-ani="slideindown" data-ani-delay="0.7s">Planeemos un
                                Seguro</span>
                            <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.4s">Asegura un fondo universitaro </h1>
                            <div class="checklist" data-ani="slideinup" data-ani-delay="0.1s">
                                <ul>
                                    <li>Asesores Expertos</li>
                                </ul>
                            </div>
                            <div class="btn-group" data-ani="slideinup" data-ani-delay="0.5s">
                                <a href="https://wa.me/51935439166" class="th-btn style3">Asegura tu futuro<i
                                        class="fas fa-long-arrow-right ms-2"></i></a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 align-self-center d-lg-block d-none">
                        <div class="video-wrap text-end">
                            <a  class="video-link popup-video">
                                <span class="play-btn"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero-6-thumb"><img src="assets/segurosya/img/hero/slide1.png" alt="img"></div>
        </div>
        <div class="th-hero-slide">
            <div class="th-hero-bg"></div>
            <div class="hero-shape hero-6-shape1 jump"><img src="assets/segurosya/img/hero/home1-shape1.png" alt="img">
            </div>
            <div class="hero-shape hero-6-shape2 jump-reverse"><img src="assets/segurosya/img/hero/home1-shape2.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape3"><img class="spin" src="assets/segurosya/img/hero/home1-shape3.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape4"><img class="spin" src="assets/segurosya/img/hero/home1-shape4.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape5"><img class="spin" src="assets/segurosya/img/hero/home1-shape5.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape6 jump-reverse"></div>
            <div class="hero-shape hero-6-shape7 jump"></div>
            <div class="hero-shape hero-6-shape8 jump-reverse"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="hero-style6">
                            <span class="hero-subtitle" data-ani="slideindown" data-ani-delay="0.7s">Asegura tu
                                Tranquilidad</span>
                            <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.4s">Seguros EPS, Seguros de salud</h1>
                            <div class="checklist" data-ani="slideinup" data-ani-delay="0.1s">
                                <ul>
                                    <li>Seguros confiables</li>
                                </ul>
                            </div>
                            <div class="btn-group" data-ani="slideinup" data-ani-delay="0.5s">
                                <a href="https://wa.me/51935439166" class="th-btn style3">NO esperes más y cotiza<i
                                        class="fas fa-long-arrow-right ms-2"></i></a>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 align-self-center d-lg-block d-none">
                        <div class="video-wrap text-end"><a 
                                class="video-link popup-video"><span class="play-btn"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="hero-6-thumb"><img src="assets/segurosya/img/hero/slide2.png" alt="img"></div>
        </div>
        <div class="th-hero-slide">
            <div class="th-hero-bg"></div>
            <div class="hero-shape hero-6-shape1 jump"><img src="assets/segurosya/img/hero/home1-shape1.png" alt="img">
            </div>
            <div class="hero-shape hero-6-shape2 jump-reverse"><img src="assets/segurosya/img/hero/home1-shape2.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape3"><img class="spin" src="assets/segurosya/img/hero/home1-shape3.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape4"><img class="spin" src="assets/segurosya/img/hero/home1-shape4.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape5"><img class="spin" src="assets/segurosya/img/hero/home1-shape5.png"
                    alt="img"></div>
            <div class="hero-shape hero-6-shape6 jump-reverse"></div>
            <div class="hero-shape hero-6-shape7 jump"></div>
            <div class="hero-shape hero-6-shape8 jump-reverse"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="hero-style6">
                            <span class="hero-subtitle" data-ani="slideindown" data-ani-delay="0.7s">Transformando las
                                Incertidumbres de la Vida</span>
                            <h1 class="hero-title" data-ani="slideindown" data-ani-delay="0.4s">Seguro Vehicular SOAT</h1>
                            <div class="checklist" data-ani="slideinup" data-ani-delay="0.1s">
                                <ul>
                                    <li>Aseguradoras con trayectoria</li>
                                </ul>
                            </div>
                            <div class="btn-group" data-ani="slideinup" data-ani-delay="0.5s">
                                <a href="https://wa.me/51935439166" class="th-btn style3">Cotiza el tuyo YA!<i
                                        class="fas fa-long-arrow-right ms-2"></i></a>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 align-self-center d-lg-block d-none">
                        <div class="video-wrap text-end"><a 
                                class="video-link popup-video"><span class="play-btn"></span></a></div>
                    </div>
                </div>
            </div>
            <div class="hero-6-thumb"><img src="assets/segurosya/img/hero/slide3.png" alt="img"></div>
        </div>
    </div>
    <div class="icon-box"><button data-slick-prev="#heroSlide6" class="slick-arrow default"><i
                class="far fa-arrow-left"></i></button> <button data-slick-next="#heroSlide6"
            class="slick-arrow default"><i class="far fa-arrow-right"></i></button></div>
</div>
<section class="service-sec space-bottom space">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Nuestros seguros</span>
            <h2 class="sec-title">Consulte el seguro que más se adapte a su necesidad y cotiza</h2>
        </div>
        <div class="row gy-4 justify-content-center">

            <div class="col-md-4 col-sm-6" style="cursor: pointer;">
                <div class="service-card">
                    <div class="service-card_img">
                        <img src="assets/segurosya/img/service/vehiculo.jpg" alt="Service">
                    </div>
                    <div class="service-card_content">
                        <div class="service-icon">
                            <img src="assets/segurosya/img/icon/icon.png" alt="Icon">
                        </div>
                        <h3 class="service-title box-title h4">
                            <a (click)="global.setRoute('vehicular')">SOAT y Vehicular</a>
                        </h3>
                        <a (click)="global.setRoute('vehicular')" class="half-line-btn">Cotizar seguro</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6" style="cursor: pointer;">
                <div class="service-card">
                    <div class="service-card_img">
                        <img src="assets/segurosya/img/service/viaje.jpg" alt="Service">
                    </div>
                    <div class="service-card_content">
                        <div class="service-icon">
                            <img src="assets/segurosya/img/icon/icon.png" alt="Icon">
                        </div>
                        <h3 class="service-title box-title h4">
                            <a (click)="global.setRoute('viaje')">Seguro de Viaje</a>
                        </h3>
                        <a (click)="global.setRoute('viaje')" class="half-line-btn">Cotizar seguro</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6" style="cursor: pointer;">
                <div class="service-card">
                    <div class="service-card_img">
                        <img src="assets/segurosya/img/service/fu.jpg" alt="Service">
                    </div>
                    <div class="service-card_content">
                        <div class="service-icon">
                            <img src="assets/segurosya/img/icon/icon.png" alt="Icon">
                        </div>
                        <h3 class="service-title box-title h4">
                            <a (click)="global.setRoute('fu')">Fondo Universitario</a>
                        </h3>
                        <a (click)="global.setRoute('fu')" class="half-line-btn">Cotizar seguro</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6" style="cursor: pointer;">
                <div class="service-card">
                    <div class="service-card_img">
                        <img src="assets/segurosya/img/service/va.jpg" alt="Service">
                    </div>
                    <div class="service-card_content">
                        <div class="service-icon">
                            <img src="assets/segurosya/img/icon/icon.png" alt="Icon">
                        </div>
                        <h3 class="service-title box-title h4">
                            <a (click)="global.setRoute('va')">Vida Ahorro Devolucion</a>
                        </h3>
                        <a (click)="global.setRoute('va')" class="half-line-btn">Cotizar seguro</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6" style="cursor: pointer;">
                <div class="service-card">
                    <div class="service-card_img">
                        <img src="assets/segurosya/img/service/salud.jpg" alt="Service">
                    </div>
                    <div class="service-card_content">
                        <div class="service-icon">
                            <img src="assets/segurosya/img/icon/icon.png" alt="Icon">
                        </div>
                        <h3 class="service-title box-title h4">
                            <a (click)="global.setRoute('salud')">Salud</a>
                        </h3>
                        <a (click)="global.setRoute('salud')" class="half-line-btn">Cotizar seguro</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6" style="cursor: pointer;">
                <div class="service-card">
                    <div class="service-card_img">
                        <img src="assets/segurosya/img/service/pension.jpg" alt="Service">
                    </div>
                    <div class="service-card_content">
                        <div class="service-icon">
                            <img src="assets/segurosya/img/icon/icon.png" alt="Icon">
                        </div>
                        <h3 class="service-title box-title h4">
                            <a (click)="global.setRoute('pension')">Pension</a>
                        </h3>
                        <a (click)="global.setRoute('pension')" class="half-line-btn">Cotizar seguro</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6" style="cursor: pointer;">
                <div class="service-card">
                    <div class="service-card_img">
                        <img src="assets/segurosya/img/service/vl.jpg" alt="Service">
                    </div>
                    <div class="service-card_content">
                        <div class="service-icon">
                            <img src="assets/segurosya/img/icon/icon.png" alt="Icon">
                        </div>
                        <h3 class="service-title box-title h4">
                            <a (click)="global.setRoute('vl')">Vida Ley</a>
                        </h3>
                        <a (click)="global.setRoute('vl')" class="half-line-btn">Cotizar seguro</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6" style="cursor: pointer;">
                <div class="service-card">
                    <div class="service-card_img">
                        <img src="assets/segurosya/img/service/eps.jpg" alt="Service">
                    </div>
                    <div class="service-card_content">
                        <div class="service-icon">
                            <img src="assets/segurosya/img/icon/icon.png" alt="Icon">
                        </div>
                        <h3 class="service-title box-title h4">
                            <a (click)="global.setRoute('salud')">SCTR Salud</a>
                        </h3>
                        <a (click)="global.setRoute('salud')" class="half-line-btn">Cotizar seguro</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6" style="cursor: pointer;">
                <div class="service-card">
                    <div class="service-card_img">
                        <img src="assets/segurosya/img/service/salud2.jpg" alt="Service">
                    </div>
                    <div class="service-card_content">
                        <div class="service-icon">
                            <img src="assets/segurosya/img/icon/icon.png" alt="Icon">
                        </div>
                        <h3 class="service-title box-title h4">
                            <a (click)="global.setRoute('salud')">EPS Salud</a>
                        </h3>
                        <a (click)="global.setRoute('salud')" class="half-line-btn">Cotizar seguro</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6" style="cursor: pointer;">
                <div class="service-card">
                    <div class="service-card_img">
                        <img src="assets/segurosya/img/service/cf.jpg" alt="Service">
                    </div>
                    <div class="service-card_content">
                        <div class="service-icon">
                            <img src="assets/segurosya/img/icon/icon.png" alt="Icon">
                        </div>
                        <h3 class="service-title box-title h4">
                            <a (click)="global.setRoute('cf')">Carta Fianza SCTR Pension</a>
                        </h3>
                        <a (click)="global.setRoute('cf')" class="half-line-btn">Cotizar seguro</a>
                    </div>
                </div>
            </div>
            <!-- Aquí se agregan los demás seguros -->
        </div>
    </div>
</section>