<section class="space">
    <div class="container">
        <h2 class="page-title h3 mb-20" style="text-align: center; padding-bottom: 20px;">
            ¿QUE HACER EN CASO DE UN SINIESTRO SCTR?
        </h2>
        
        <div class="row">
            
            <div class="col-xxl-8 col-lg-7">
                
                
                <div class="page-single mt-30">
                    <div class="page-content">
                        <h2>SCTR</h2>
                        <h3>¿Cuáles son los procedimientos a seguir en la Entidad Prestadora de Salud (EPS) en caso de un accidente de trabajo o enfermedad profesional?</h3>
                        <strong>
                            Aviso de accidente o enfermedad.
                            </strong>
                            <p>En caso que la empresa tenga contratada la cobertura del SCTR-SALUD, se deberán seguir los siguientes pasos:</p>
                            <ul>
                                <li>La atención de pacientes se realizará única y exclusivamente red de clínicas y centros médicos afiliados a las aseguradoras. Sin embrago es importante precisar, que de presentarse una emergencia y estar alejados de una clínica o centro médico reconocido por la aseguradora, el asegurado podrá ser evacuado al centro de salud más cercano.</li>
                                <li>De ser necesaria la evacuación del herido en ambulancia, llamar a VillarBrokers o al número de Emergencia de su aseguradora, para poder coordinar el envío de una ambulancia.</li>
                                <li>Ingresar en la clínica al trabajador herido y entregar en recepción el formato de solicitud de “Atención Médica por Accidentes de Trabajo”, con los datos del trabajador y la empresa completos.</li>
                                <li>De existir documentos por gastos efectuados, estos se deberán remitir a VillarBrokers para gestionar su reembolso, adjuntando la solicitud de “Atención Médica por Accidentes de Trabajo” y la documentación adicional que sustente la atención realizada.</li>
                                <li>Los honorarios médicos deberán ser girados a nombre del accidentado y los de farmacia, análisis, radiografías, etc., a nombre de su aseguradora.</li>
                           
                        
                            </ul>
                            <ul>
                                <li><strong>Rimac EPS RUC No.: 20414955020</strong></li>
                                <li><strong>Mapfre EPS RUC No.: 20517182673</strong></li>
                                <li><strong>Pacifico EPS RUC No: 20431115825</strong></li>
                            </ul>
                            <p>En caso un trabajador asegurado sea atendido en un centro médico que no pertenezca a la red de proveedores afiliados a la EPS de su asegurador, la modalidad de indemnización por los costos de las atenciones será a través de reembolso. Para lo cual el empleador deberá adjuntar la siguiente información:</p>
                            <ul>
                                <li>Formato físico o electrónico de Solicitud de Atención Médica por Accidente de Trabajo (debidamente llenada, sellada y firmada por el representante legal de la entidad empleadora y por el médico tratante).</li>
                                <li>Facturas originales emitidas a nombre de su asegurador, indicando el número de RUC correspondiente para el caso de gastos de procedimientos, análisis y/o medicinas. Para reembolso de análisis y procedimientos se deberá adjuntar resultados.</li>
                                <li>Recibo por honorarios médicos originales emitidos a nombre del asegurado.</li>
                                <li>Los comprobantes de pago no pueden tener una antigüedad mayor a 60 (sesenta) días de la fecha de su emisión.</li>
                                <li>Para reembolso de gastos por medicinas se deberá adjuntar la receta médica original detallada (indicando cantidad, nombre y costo de cada medicamento), debidamente suscrita por el médico tratante.</li>

                            </ul>
                            <strong>¿Qué accidentes no se consideran como accidente de trabajo?</strong>
                            <ul>
                                <li>Los que se producen en el trayecto de ida y retorno al centro de trabajo.</li>
                                <li>Por participación en riñas u otra acción ilegal.</li>
                                <li>Por incumplimiento del trabajador de orden estricta específica del empleador.</li>
                                <li>En ocasión de actividades recreativas, deportivas o culturales.</li>
                                <li>Los que sobrevengan durante permisos, licencias, vacaciones.</li>
                                <li>Por uso de sustancias alcohólicas o estupefacientes.</li>
                                <li>Los que sean a consecuencia de guerra civil o internacional, conmoción civil o terrorismo y similares.</li>
                                <li>Convulsión de la naturaleza (terremoto, maremoto, etc.).</li>
                                <li>Fusión nuclear.</li>
                                <li>Lesiones voluntariamente autoinflingidas o autoeliminación o su tentativa.</li>
                                <p>Todo accidente que no sea calificado como accidente de trabajo, así como toda enfermedad que no sea calificada como enfermedad profesional; serán tratados como accidentes o enfermedades comunes sujetas al régimen general del seguro social de salud y al sistema pensionario al que se encuentra afiliado el trabajador.</p>
                            </ul>
                           <strong> Documentación para la obtención de la pensión de sobrevivencia</strong>

                           <p> Para obtener la pensión de sobrevivencia, los beneficiarios se dirigirán directamente a la aseguradora, adjuntando la siguiente información y documentación:</p>
                           <ul>
                            <li>Certificado médico de defunción.</li>
                            <li>Atestado policial y certificado de necropsia, en caso de muerte accidental.</li>
                            <li>Solicitud de pensión de sobrevivencia acompañada de la documentación que acredite su condición de beneficiario.</li>
                            <li>Declaración jurada de la entidad empleadora y de anteriores empleadores, de ser el caso, en la que se acrediten las remuneraciones percibidas por el asegurado durante los 12 meses anteriores al siniestro.</li>
                        </ul>
                        <strong> Documentación para la obtención del reembolso por gastos de sepelio </strong>

                        <p>Las personas que reclamen los gastos de sepelio deberán presentar, adicionalmente, la solicitud de reembolso y las facturas, boletas de venta y recibos originales que sustenten los mismos. El reembolso se pagará a la persona que haya efectuado el gasto de sepelio según lo que conste en los comprobantes de pago. Estos documentos deben estar emitidos a nombre de la persona natural o jurídica que solicite el reembolso.</p>

                        <strong> Documentación para la obtención de la pensión de invalidez</strong>

                        <p>Para obtener la pensión de invalidez, el asegurado igualmente debe dirigirse a la aseguradora, presentando una solicitud en los formatos proporcionados por ésta, acompañadas de la siguiente información y documentación:</p>
                        <ul>
                            <li>Certificado del médico que prestó los primeros auxilios, expresando las causas del accidente y las consecuencias inmediatas producidas en la salud del paciente.</li>
                            <li>Certificado del médico tratante, con la indicación de la fecha de inicio y naturaleza del tratamiento recibido, así como la fecha y condiciones de alta o baja del paciente.</li>
                            <li>Certificado de inicio y fin del goce del subsidio de incapacidad temporal otorgado por EsSalud.</li>
                            <li>Declaración jurada de la entidad empleadora y de anteriores empleadores, de ser el caso, en la que se acrediten las 12 últimas remuneraciones percibidas por el asegurado hasta la fecha de inicio de las prestaciones de invalidez, incluyendo los subsidios por incapacidad temporal que hubiere percibido a cargo de EsSalud.</li>
                        </ul>
                        <strong>Documentos necesarios en caso de siniestros para las pólizas de Vida Ley</strong>

                       <p> En caso de fallecimiento:</p>
                       <ul>
                        <li>Documento de identidad del asegurado.</li>
                        <li>Acta o partida de defunción.</li>
                        <li>Certificado médico de defunción.</li>
                        <li>Tres últimas boletas de pago (en caso de muerte natural) o la última boleta de pago (en caso de muerte accidental).</li>
                       </ul>
                       <p>Adicionalmente, en caso de muerte accidental, deberá presentar:</p>

                       <ul>
                        <li>Atestado policial.</li>
                        <li>Protocolo de necropsia.</li>
                       </ul>
                       <strong>En caso de invalidez total y permanente por accidente, deberá presentar:</strong>

                       <p>En caso que la Entidad Empleadora tenga contratada la cobertura del SCTR-SALUD, se deberán seguir los siguientes pasos:</p>
                       <ul>
                        <li>Documento de identidad del asegurado.</li>
                        <li>Copia de la historia clínica (debidamente foliada y fedateada por el funcionario autorizado de la institución prestadora de servicio de salud).</li>
                        <li>Informe médico reciente indicando diagnóstico.</li>
                        <li>Dictamen de invalidez de la comisión médica evaluadora de incapacidad del MINSA o ESSALUD.</li>
                    </ul>
                       <p>Se recomienda que todos los documentos sean entregados en original o copia legalizada/certificada. La aseguradora podrá exigir documentos adicionales vinculados al siniestro, necesarios para la evaluación de la cobertura. Los reclamos y las acciones fundadas en la póliza prescriben al vencimiento del plazo legal establecido.</p>

                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-5">
                <aside class="sidebar-area">
                    <div class="page-img">
                        <img src="assets/segurosya/img/project/project_details.png" alt="Project Image">
                    </div>
                    <div class="widget widget_nav_menu">
                        <h3 class="widget_title"></h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a >PACIFICO SEGUROS</a>
                                <p>Pacífico Asiste 415-1515 <span> (Lima)</span></p>
                                <p>Pacífico Asiste 0800-4-1515 <span> (Provincias)</span></p>
                                <span></span></li>
                                <li><a>RIMAC SEGUROS</a>
                                    <p>Aló Rimac 411-1111  <span> (Lima)</span></p>
                                    <p> Aló Rimac 0800-4-1111  <span> (Provincias)</span></p>
                                </li>
                                <li><a>POSITIVA SEGUROS</a>
                                        <p>Línea Positiva 211-0211  <span> (Lima)</span></p>
                                        <p>Línea Positiva 0800-1-0800  <span> (Provincias)</span></p>
                                </li>
                                <li><a>MAPFRE</a>
                                            <p>Línea Emergencia 213-3333  <span> (Lima)</span></p>
                                            <p>Línea Emergencia 0800-1-0800  <span> (Provincias)</span></p>
                                </li>
                                <li><a>HDI SEGUROS</a>
                                                <p>Alo HDI 230-3030 </p>
                                </li>
                            </ul>
                        </div>
                    </div>           
                </aside>
            </div>

        </div>
       