<div class="space-top">
    <div class="container">
        <div class="row gy-40">
            <div class="col-xl-4">
                <div class="contact-info-wrap">
                    <h3 class="mb-30">Solicita la cotización para tu seguro</h3>
                    <div class="contact-info">
                        <div class="contact-info_icon"><i class="far fa-phone-volume"></i></div>
                        <!-- <div class="media-body">
                            <h4 class="contact-info_title h6"></h4><span class="contact-info_text"><a
                                    href="tel:01145658698">+011 (456) 586 98</a> <a href="tel:22256898">+222 (945)
                                    568 98</a></span>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <form action="" method="POST" [formGroup]="request" (ngSubmit)="saveRequest()" class="contact-form3 ajax-contact h-100">
                    <h2 class="form-title h3 mb-30">SCTR Salud / Pensión y vida ley</h2>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control style-white" id="name" name="name" placeholder="Nombre completo" formControlName="name" required
                                   [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors['required']">Nombre completo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control style-white" id="email" name="email" placeholder="Correo" formControlName="email" required
                                   [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">Correo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="tel" class="form-control style-white" id="phone" name="phone" placeholder="Teléfono" formControlName="phone" required
                                   [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }">
                            <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                                <div *ngIf="f['phone'].errors['required']">Teléfono es obligatorio.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control style-white" id="work" name="work" placeholder="Trabajo a realizar" formControlName="work" required
                                   [ngClass]="{ 'is-invalid': submitted && f['work'].errors }">
                            <div *ngIf="submitted && f['work'].errors" class="invalid-feedback">
                                <div *ngIf="f['work'].errors['required']">Trabajo a realizar es obligatorio.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="number" class="form-control style-white" id="workers" name="workers" placeholder="Número de trabajadores" formControlName="workers" required
                                   [ngClass]="{ 'is-invalid': submitted && f['workers'].errors }">
                            <div *ngIf="submitted && f['workers'].errors" class="invalid-feedback">
                                <div *ngIf="f['workers'].errors['required']">Número de trabajadores es obligatorio.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="number" class="form-control style-white" id="salary" name="salary" placeholder="Número de sueldo por trabajador" formControlName="salary" required
                                   [ngClass]="{ 'is-invalid': submitted && f['salary'].errors }">
                            <div *ngIf="submitted && f['salary'].errors" class="invalid-feedback">
                                <div *ngIf="f['salary'].errors['required']">Número de sueldo por trabajador es obligatorio.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="number" class="form-control style-white" id="subtotal" name="subtotal" placeholder="Subtotal de sueldos (NO menos del sueldo mínimo por trabajador)" formControlName="subtotal" required
                                   [ngClass]="{ 'is-invalid': submitted && f['subtotal'].errors }">
                            <div *ngIf="submitted && f['subtotal'].errors" class="invalid-feedback">
                                <div *ngIf="f['subtotal'].errors['required']">Subtotal de sueldos es obligatorio.</div>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <textarea name="message" id="message" cols="30" rows="3" class="form-control style-white" placeholder="Comentarios" formControlName="message"></textarea>
                        </div>
                        <div class="form-btn col-12">
                            <button class="th-btn">Solicitar <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <p class="form-messages mb-0 mt-3"></p>
                </form>
                
            </div>
            
        </div>
    </div>
</div>