
<div class="video-sec3" data-bg-src="assets/segurosya/img/hero/home3-1.jpg" data-overlay="title" data-opacity="8" style="padding-top: 400px; background-attachment: local;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="title-area mb-0 text-lg-start text-center">
                    
                    <h2 class="sec-title style2 text-white">Más de <span class="sub-title style3" style="font-size: 45px;"> 5,475</span> <strong></strong></h2> 
                    <h2 class="sec-title style2 text-white">Cotizaciones realizadas</h2>
                    
                </div>
                
            </div>
            <!-- <div class="service-counter">
                <h6 class="service-counter_text">Más de </h6>
                <h3 class="service-counter_title"> <span class="counter-number" data-bg-src="assets/segurosya/img/icon/service_icon_4_5.svg">5,475</span>k</h3>
                <h6 class="service-counter_text">Cotizaciones realizadas</h6>
            </div> -->
            </div></div></div>

<section class="brand-sec1" data-bg-src="">
    <div class="title-area text-center mb-30">
        <span class="sub-title">Aseguradoras</span>
        <h2 class="sec-title" style="color:#000;">Las mejores asegurados</h2>
    </div>
    <div class="container">
        <div class="row th-carousel" data-slide-show="5" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="3" data-xs-slide-show="2">
            <div class="col-auto">
                <div class="brand-box"><img src="assets/segurosya/img/brand/brand1-1.png" alt="Brand Logo"></div>
            </div>
            <div class="col-auto"><div class="brand-box"><img src="assets/segurosya/img/brand/brand1-2.png" alt="Brand Logo"></div></div>
            <div class="col-auto"><div class="brand-box"><img src="assets/segurosya/img/brand/brand1-3.png" alt="Brand Logo"></div></div>
            <div class="col-auto"><div class="brand-box"><img src="assets/segurosya/img/brand/brand1-4.png" alt="Brand Logo"></div></div>
            <div class="col-auto"><div class="brand-box"><img src="assets/segurosya/img/brand/brand1-5.png" alt="Brand Logo"></div></div>
            <div class="col-auto"><div class="brand-box"><img src="assets/segurosya/img/brand/brand1-1.png" alt="Brand Logo"></div></div>
            <div class="col-auto"><div class="brand-box"><img src="assets/segurosya/img/brand/brand1-2.png" alt="Brand Logo"></div></div>
            <div class="col-auto"><div class="brand-box"><img src="assets/segurosya/img/brand/brand1-3.png" alt="Brand Logo"></div></div>
            <div class="col-auto"><div class="brand-box"><img src="assets/segurosya/img/brand/brand1-4.png" alt="Brand Logo"></div></div>
            <div class="col-auto"><div class="brand-box"><img src="assets/segurosya/img/brand/brand1-5.png" alt="Brand Logo"></div></div>
        </div>
    </div>
</section> 
<section class="space">
    <div class="container">
        <div class="row gy-30">
            <div class="col-sm-6 col-lg-4 col-xxl-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="assets/segurosya/img/team/team_3_1.png" alt="Team">
                        </div>
                        <div class="team-social-activate">
                            <a href="team.html#" class="team-social-activate_btn"><i class="far fa-plus"></i></a>
                            <div class="team-social">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> 
                                <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> 
                                <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title"><a >Promocion</a></h3>
                        <span class="team-desig">Ver detalle</span>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-4 col-xxl-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="assets/segurosya/img/team/team_3_1.png" alt="Team">
                        </div>
                        <div class="team-social-activate">
                            <a href="team.html#" class="team-social-activate_btn"><i class="far fa-plus"></i></a>
                            <div class="team-social">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> 
                                <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> 
                                <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title"><a >Promocion</a></h3>
                        <span class="team-desig">Ver detalle</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="assets/segurosya/img/team/team_3_1.png" alt="Team">
                        </div>
                        <div class="team-social-activate">
                            <a href="team.html#" class="team-social-activate_btn"><i class="far fa-plus"></i></a>
                            <div class="team-social">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> 
                                <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> 
                                <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title"><a >Promocion</a></h3>
                        <span class="team-desig">Ver detalle</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="assets/segurosya/img/team/team_3_1.png" alt="Team">
                        </div>
                        <div class="team-social-activate">
                            <a href="team.html#" class="team-social-activate_btn"><i class="far fa-plus"></i></a>
                            <div class="team-social">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> 
                                <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> 
                                <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title"><a >Promocion</a></h3>
                        <span class="team-desig">Ver detalle</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="assets/segurosya/img/team/team_3_1.png" alt="Team">
                        </div>
                        <div class="team-social-activate">
                            <a href="team.html#" class="team-social-activate_btn"><i class="far fa-plus"></i></a>
                            <div class="team-social">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> 
                                <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> 
                                <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title"><a >Promocion</a></h3>
                        <span class="team-desig">Ver detalle</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="assets/segurosya/img/team/team_3_1.png" alt="Team">
                        </div>
                        <div class="team-social-activate">
                            <a href="team.html#" class="team-social-activate_btn"><i class="far fa-plus"></i></a>
                            <div class="team-social">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> 
                                <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> 
                                <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title"><a >Promocion</a></h3>
                        <span class="team-desig">Ver detalle</span>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
           
                                                         
