<section class="space">
    <div class="container">
        <h2 class="page-title h3 mb-20" style="text-align: center; padding-bottom: 20px;">
            ¿QUE HACER EN CASO DE UN SINIESTRO?
        </h2>
        <div class="row">
            
            <div class="col-xxl-8 col-lg-7">
                
                
                <div class="page-single mt-30">
                    <div class="page-content">
                        
                        <h3>VEHICULAR</h3>
                        <h4>En caso de Siniestro, de choque,robo y/o atropello.</h4>
                        <p>En caso de sufrir un sinestro el asegurado deberá informar a la Central de Atencion de VillarBrokers Corredores de Seguros y / o llamar a la Central de Asistencia de la Compañía de Seguros para informar el siniestro ocurrido y su ubicación. Este trámite es requisito indispensable para la atención del siniestro. Adicionalmente le solicitamos que una vez comunicado el siniestro a sus aseguradores, tenga a bien comunicarse con la central de atención de VillarBrokers, para que uno de nuestros ejecutivos de servicios lo pueda atender y asesorar, y de ser necesario poder derivarlo a un miembro de nuestra plana comercial.</p>
                        <p>Es importante que recuerde que se deberá abstener de realizar cualquier transacción con el tercero involucrado en el siniestro, ya que esta acción automáticamente invalidaría su póliza.</p>
                        <p>Independientemente de lo expresado por los procuradores de las compañías de seguros o la modalidad en la cual se produjera el siniestro, siempre será un requisito fundamental que el asegurado realice su denuncia policial en la Comisaría del sector, con un lapso no mayor a las 2 horas después de ocurrido el siniestro. Asimismo, si el siniestro involucra otros vehículos o personas, solicítele al procurador de su compañía de seguros y/o personal policial que se acerque al lugar del siniestro o al destacado en la Delegación Policial en la cual se realice la denuncia policial, se cumpla con la toma del examen toxicológico (dosaje etílico) de ley. Usted puede dejar constancia de esto en el “Registro de Procuración” que le entregará el procurador de la aseguradora.</p>
                        <p>En el caso de sufrir un robo total, y de contar la unidad con un dispositivo GPS, el asegurado deberá llamar a su proveedor en un plazo no mayor a las 4 horas, para que se inicie el rastreo del vehículo. Esta acción le deberá ser comunicada a VillarBrokers para que se puedan iniciar las gestiones con la aseguradora.

                            En el caso de los siniestros que se produjeran en provincias, será igual de importante que el asegurado cumpla con informar del siniestro y denunciar el mismo en la comisaría más cercana al lugar de los hechos, en el menor tiempo posible.</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-5">
                <aside class="sidebar-area">
                    <div class="page-img">
                        <img src="assets/segurosya/img/service/vehiculo.jpg" alt="seguro vehicular">
                    </div>
                    <div class="widget widget_nav_menu">
                        <h3 class="widget_title"></h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a >PACIFICO SEGUROS</a>
                                <p>Pacífico Asiste 415-1515 <span> (Lima)</span></p>
                                <p>Pacífico Asiste 0800-4-1515 <span> (Provincias)</span></p>
                                <span></span></li>
                                <li><a>RIMAC SEGUROS</a>
                                    <p>Aló Rimac 411-1111  <span> (Lima)</span></p>
                                    <p> Aló Rimac 0800-4-1111  <span> (Provincias)</span></p>
                                </li>
                                <li><a>POSITIVA SEGUROS</a>
                                        <p>Línea Positiva 211-0211  <span> (Lima)</span></p>
                                        <p>Línea Positiva 0800-1-0800  <span> (Provincias)</span></p>
                                </li>
                                <li><a>MAPFRE</a>
                                            <p>Línea Emergencia 213-3333  <span> (Lima)</span></p>
                                            <p>Línea Emergencia 0800-1-0800  <span> (Provincias)</span></p>
                                </li>
                                <li><a>HDI SEGUROS</a>
                                                <p>Alo HDI 230-3030 </p>
                                </li>
                            </ul>
                        </div>
                    </div>           
                </aside>
            </div>

        </div>
        
       